{# ThemeWare: Footer-Element "Shipping" container #}
{# Create footer column and include shipping widget/content #}

{# TODO: prüfen... #}
{# TODO: Kommentare prüfen, ergänzen... #}
{# TODO: footer-elements zusammenfassen (sh. twt-sidebar-widgets) #}

{% block twt_layout_footer_shipping %}
	{# ThemeWare: Set classes #}
	{% set blockClasses = ['footer-column', 'footer-column-shipping'] %}

	{# ThemeWare: Check/add class "last" #}
	{% if last == true %}
		{% set blockClasses = ['last']|merge(blockClasses) %}
	{% endif %}

	{# ThemeWare: Add class element number #}
	{% set blockClasses = ['twt-element-' ~ elementid, 'twt-element-shipping']|merge(blockClasses) %}
	
	{# ThemeWare:  Check/add class custom column #}
	{% if newcol == "2" %}
		{% set blockClasses = ['col-md-12']|merge(blockClasses) %}
	{% elseif newcol == "3" %}
		{% set blockClasses = ['col-md-6']|merge(blockClasses) %}
	{% else %}
		{# ThemeWare: Check/add class column for tablet #}
		{% if columns == columnsTablet %}
			{% set blockClasses = ['col-md-' ~ columns]|merge(blockClasses) %}
		{% else %}
			{% set blockClasses = ['col-xl-' ~ columns, 'col-md-' ~ columnsTablet]|merge(blockClasses) %}
		{% endif %}
	{% endif %}

	{# ThemeWare:  Check/add class toggle icon #}
	{% if toggle == "3" %}
		{% set blockClasses = ['js-footer-column']|merge(blockClasses) %}
	{% endif %}

	{# TODO: add block "container" #}
	<div class="{{ blockClasses|join(' ') }}">
		{% block twt_layout_footer_shipping_headline %}
			<div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger" id="collapseFooterShippingTitle" data-target="#collapseFooterShipping" aria-expanded="true" aria-controls="collapseFooterShipping">
				{{ "twt.widget.shipping.headline"|trans|sw_sanitize }}
				{% block twt_layout_footer_shipping_logos %}
					{% if toggle == "3" %}
						<div class="footer-column-toggle">
							<span class="footer-plus-icon">
								{% sw_icon 'plus' %}
							</span>
							<span class="footer-minus-icon">
								{% sw_icon 'minus' %}
							</span>
						</div>
					{% endif %}
				{% endblock %}
			</div>
		{% endblock %}

		{% block twt_layout_footer_shipping_content %}
			<div id="collapseFooterShipping" class="footer-column-content {% if toggle == "3" %}collapse js-footer-column-content {% endif %}footer-logos-column" aria-labelledby="collapseFooterShippingTitle">
				<div class="footer-column-content-inner">
					{% sw_include '@Storefront/storefront/themeware/widgets/twt-shipping-include.html.twig' %}
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock %}