


.product-detail-configurator-option{
    .product-detail-configurator-option-label.is-display-color{
        border-radius: 50%;
        box-shadow: none;
        height: 35px;
        min-width: 35px;
    }

}
