{# SnapTheme "Shipping" widget #}
{% block snap_widget_shipping_logos %}
    <div class="snap-widget-shipping">
        {% sw_include '@Storefront/storefront/snaptheme/includes/snap-shipping-logos-include.html.twig' %}
    </div>
{% endblock %}