{# 
{% block layout_footer_bottom %}
            <div class="footer-bottom">
                {% block layout_footer_vat %}
                    <div class="footer-vat">
                        {% if context.taxState == "gross" %}
                            <p>
                                {{ "footer.includeVat"|trans({
                                    '%url%': path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') })
                                })|raw }}
                            </p>
                        {% else %}
                            <p>
                                {{ "footer.excludeVat"|trans({
                                    '%url%': path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') })
                                })|raw }}
                            </p>
                        {% endif %}
                    </div>
                {% endblock %}

                {% block layout_footer_copyright %}
                    <div class="footer-copyright">
                    {% set copyrightInfosnap = theme_config('snap-footer-copyright-infosnap') %}
                        {% sw_icon 'shopware' style {'size':'xs'} %}
                        {{ copyrightInfosnap|trans|sw_sanitize }}
                    </div>
                {% endblock %}
            </div>
        {% endblock %} #}