
.cms-element-product-listing-wrapper{
    .cms-element-product-listing{
        .cms-listing-row{
            margin-right: 0;
            margin-left: 0;
        }
    }
}


.cms-listing-col:last-child{
    margin-bottom: 0 !important;

}