{% sw_extends '@Storefront/storefront/element/cms-element-category-navigation.html.twig' %}

{% block category_navigation_element %}
    <div class="cms-element-{{ element.type }}">
        {% set navigationResult1 = page.header.navigation.tree %}
        {% set activeResult1 = page.header.navigation.active %}

        
    
        <div class="category-navigation-box">
            <div class="category-sidebar-headline">category</div>
            {% sw_include '@Storefront/storefront/layout/sidebar/category-navigation.html.twig' with {
                navigationTree: page.header.navigation.tree,
                activeResult: page.header.navigation.active
            } only %}
        </div>
    </div>
{% endblock %}