{# snaptheme "Payment/Shipping" widget #}
{# TW payment/shipping widget + include logos #}

{# TODO: prüfen... #}
{# TODO: "footer..." entfernen für andere Einsatzbereiche (vgl. communities-include) #}

{# snaptheme: Payment/Shipping logos #}
{% block snap_widget_paymentshipping_logos %}
    <div class="snap-widget-paymentshipping">

        {# {% sw_include '@Storefront/storefront/snaptheme/includes/snap-payment-logos-include.html.twig' %} #}
        {% sw_include '@Storefront/storefront/snaptheme/includes/snap-shipping-logos-include.html.twig' %}

    </div>
{% endblock %}