.address-personal{
    .form-row {
        .form-group {
            .icon-select {
                height: 12px;
                position: absolute;
                top: 8px;
                right: 10px;

                svg {
                    fill: currentColor;
                }
            }
        }
    }
}

