
{# Service menu as list #}

{% block snap_layout_header_actions_service_menu_list_widget %}
	{% if page.header.serviceMenu|length > 0 %}
		<div class="top-bar-nav-item top-bar-menu-list">
			{% for category in page.header.serviceMenu %}

				{# @deprecated tag:v6.5.0 - Use "category.translated.externalLink" directly or category_url function instead. #}
				{% set externalLink = category.translated.externalLink %}
				<a class="top-bar-list-item" href="{% if externalLink %}{{ externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}{% endif %}" title="{{ category.translated.name }}">{{ category.translated.name }}</a>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}